@model IEnumerable<EF_CodeFirst.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
    var i = 0;
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GradeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            <a asp-area="" asp-controller="Student" asp-action="Details" asp-route-id="@ViewBag.Students[i].StudentId">@ViewBag.Students[i].StudentName</a>
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.GradeId">Details</a>
        </td>
    </tr>
    i++;
    }
}
    </tbody>
</table>
